{% extends 'base/base.html' %}

<!-- {% load static %} -->

{% block content %}

    <div class="container-fluid py-5">
            <header class="product-header ">
                <h1>Welcome to Your One-Stop  Farm Shop!</h1>
                <p>Discover the best livestock  We make it easy for you to grow and thrive.</p>
                <div class="search-bar">
                    <input type="text" id="search" placeholder="Search for products..." onkeyup="searchProducts()">
                </div>
            </header>
        
            <!-- Search Bar -->
      

        <!-- Product Listings -->
        
            <div class="products" id="product-list">
                <!-- Sample product 1: Crop -->
                {% for l in livestock %}
                <!-- Sample product 4: Crop -->
                <div class="product-card" data-category="crop">
                    <img src="{{ l.image.url }}" alt="{{ l.name }}">
                    <h3>{{l.name}}</h3>
                    <p>Fresh {{l.name}} for sale</p>
                    <span>{{l.price}}</span>
                </div>
                {% endfor %}
    
            </div>

      
    </div>

{% endblock %}
