* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
}

/* SIDEBAR */
.sidebar {
  width: 250px;
  background-color: #003366;
  color: white;
  height: 100vh;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  transition: left 0.3s ease;
  z-index: 1000;
}

.sidebar.hide {
  left: -260px;
}

.sidebar h2 {
  margin-bottom: 10px;
}

.sidebar ul {
  list-style: none;
  margin-top: 20px;
  padding: 0;
}

.sidebar ul li {
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.sidebar ul li a {
  display: block; /* Make link occupy the entire li */
  color: white;   /* Default link color */
  text-decoration: none; /* Remove underline */
  padding: 3px;  
}

.sidebar ul li:hover {
  background-color: #007ACC;
  font-weight: bold;
}

.sidebar ul li.active {
  background-color: #005C99;  /* Active link background color */
}

.sidebar ul li.active a {
  color: white;  /* Color for active link */
}

/* MAIN CONTENT */
.main-content {
  flex: 1;
  margin-left: 250px;
  transition: margin-left 0.3s ease;
  width: 100%;
  background-color: aquamarine;
}

.main-content.full {
  margin-left: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.navbar h1 {
  color: #003366;
}

.main{
  background-color: #f4f4f4;
  height: 90vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.toggle-btn {
  display: none;
  font-size: 22px;
  cursor: pointer;
  background-color: #003366;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.content {
  padding: 20px;
}

@media (max-width: 768px) {
  .toggle-btn {
      display: inline-block;
  }

  .sidebar {
      position: fixed;
      height: 100%;
      top: 0;
      left: -260px;
      z-index: 2000;
  }

  .sidebar.show {
      left: 0;
  }

  .main-content {
      margin-left: 0;
  }

  .main-content.full {
      margin-left: 0;
  }
}


