{% extends 'base/base.html' %}
{% load static %}

{% block content %}

    <!-- 567899999997888888888888wwwwwwwwwwwwwwwwww777777777777788888888888888888888 -->
    <div class="container-fluid shadow-sm rounded d-flex justify-content-center align-items-center first">
        <div class="container1">
            <h1 class="">Focus on your passion, not your paperwork.</h1>

            <div class="container d-flex "
                style="height: 400px;flex-direction: column; justify-content: center; align-items: center; ">
                <p>
                    Join over 4,000 farmers worldwide who trust our all-in-one farm management software to streamline
                    their
                    operations enabling them to grow more food, more efficiently and sustainably for their communities.
                </p>
                {% if user.is_authenticated %}
                {% else %}
                <div>
                    <a href="{% url 'userauth:Signup View' %}" class="btn btn-outline-success btn-lg">Signup</a>
                    <a href="{% url 'userauth:Login View' %}" class="btn btn-outline-secondary btn-lg">Login</a>
                </div>
                {% endif %}
                

            </div>
        </div>
    </div>


    <div class="container-fluid text-center"
        style="display: flex;flex-direction: column; justify-content: center; align-items: center; padding-bottom: 30px;">


        <!-- ================================================= -->
        <div class="container  my-3 row mb-3" style="height: 70vh; ;" data-aos="fade-top">
            <div class="col-6" style="height: 100%;">
                <img src="{% static 'index/maanage.png' %}" alt="" style="height: 100%; width: 100%; background-color: aqua;">
            </div>
            <div class="col-6 d-flex justify-content-center align-items-center flex-column" data-aos="fade-left">

                <h1>Organize your farm work and get more done</h1>
                <p>
                    Farm work & task management features help you organize, assign, and manage tasks from anywhere
                    (even offline) so your team can see what they need to do, stay on top of priorities and track
                    their time. Make it easy to focus on what’s important and track what needs to get done.
                </p>
                <button class="custom-button"><a data-testid="linkElement" href="" target="_self"
                        class="uDW_Qe wixui-button PlZyDq" aria-disabled="false" data-aos="fade-bottom"><span
                            class="l7_2fn wixui-button__label">Farm Management</span></a>
                </Button>
            </div>
        </div>

        <!-- ============================================ -->
        <div class="container  row mb-3" style="height: 70vh; ;" data-aos="fade-right">
            
            <div class="col-6 d-flex justify-content-center align-items-center flex-column">
                <h1>Financial insight for your growing farm</h1>
                <p>
                    Integrated farm accounting, financial planning, budgeting and bookkeeping features purpose built for
                    farms. Simplify financial reporting, cashflow analysis and make tax time a breeze.
                </p>
                <button class="custom-button"><a data-testid="linkElement" href="" target="_self" 
                        class="uDW_Qe wixui-button PlZyDq" aria-disabled="false"><span
                            class="l7_2fn wixui-button__label" style="color: aliceblue !important;">Farm Management</span></a>
                </Button>
            </div>

            <div class="col-6" style="height: 100%;">
                <img src="{% static 'index/Screenshot.png' %}" alt="" style="height: 100%; width: 100%; background-color: aqua;">
            </div>
        </div>


        <!-- ============================================ -->
        <div class="container  row mb-3" style="height: 70vh; ;" data-aos="fade-top">
            <div class="col-6" style="height: 100%;">
                <img src="{% static 'index/Screenshot1.png' %}" alt="" style="height: 100%; width: 100%; background-color: aqua;">
            </div>
            <div class="col-6 d-flex justify-content-center align-items-center flex-column">
                <h1>Financial insight for your growing farm</h1>
                <p>
                    Integrated farm accounting, financial planning, budgeting and bookkeeping features purpose built for
                    farms. Simplify financial reporting, cashflow analysis and make tax time a breeze.
                </p>
                <button class="custom-button"><a data-testid="linkElement" href="" target="_self"
                        class="uDW_Qe wixui-button PlZyDq" aria-disabled="false"><span
                            class="l7_2fn wixui-button__label">Farm Management</span></a>
                </Button>
            </div>
        </div>



        <!-- ============================================ -->
        <div class="container  row mb-3" style="height: 70vh; ;">
            <div class="col-6 p-2 " style="height: 100%; ; align-items: center;">
                <div class="card " style="width: 100px; height: 100px; margin: 0 auto; border-radius: 50%;">
                    <img src="{% static 'index/cow.png' %}" alt=""
                        style="height: 100%; width: 100%; background-color: aqua; border-radius: 50%;">
                </div>
                <div>

                    <h1>Livestock Management</h1>
                    <p>livestock management, livestock record keeping, farm mapping, tracking, grazing,
                        breeding, health management, sales and reporting software to run a thriving cattle, sheep, pig,
                        poultry, goat, or any multi-</p>
                </div>
                <button class="custom-button"><a
                        data-testid="linkElement"
                        href="" target="_self" class="uDW_Qe wixui-button PlZyDq" aria-disabled="false"><span
                            class="l7_2fn wixui-button__label">Farm Management</span></a>
                </Button>
            </div>
            <div class="col-6 p-2 " style="height: 100%; ; align-items: center;">
                <div class="card " style="width: 100px; height: 100px; margin: 0 auto; border-radius: 50%;">
                    <img src="{% static 'index/farming-8210675_1280.jpg' %}" alt=""
                        style="height: 100%; width: 100%; background-color: aqua; border-radius: 50%;">
                </div>
                <div>

                    <h1>Farm Management</h1>
                    <p> Our farm management software helps simplify your crop planning, yield & income projections and
                        easily visualize your season. Collaborate with your team to track and report on farm work,
                        inputs,
                        activities and harvests and simplify ROI and compliance reporting.-</p>
                </div>
                <button class="custom-button"><a
                        data-testid="linkElement"
                        href="" target="_self" class="uDW_Qe wixui-button PlZyDq" aria-disabled="false"><span
                            class="l7_2fn wixui-button__label">Farm Management</span></a>
                </Button>
            </div>

        </div>

        <div class="container row mb-3" style="height: 70vh; " data-aos="fade-left">
            <div class="col-6 d-flex flex-column justify-content-center align-items-center">
                

                <h1>Sell direct online to anyone</h1>
                <p data-aos="fade-right">Farm work & task management features help you organize, assign, and manage tasks from anywhere
                (even offline) so your team can see what they need to do, stay on top of priorities and track
                their time. Make it easy to focus on what’s important and track what needs to get done.
                </p>
                <button class="custom-button"><a
                        data-testid="linkElement"
                        href="" target="_self" class="uDW_Qe wixui-button PlZyDq" aria-disabled="false"><span
                            class="l7_2fn wixui-button__label">Farm Management</span></a>
                </Button>
            </div>
            <div class="col-6" style="height: 100%;">
                <img src="{% static 'index/sell.png' %}" alt="" style="height: 100%; width: 100%; background-color: aqua;">
            </div>
        </div>

        <div class="container bg-light shadow-sm rounded p-3" style="height: 70vh;" data-aos="fade-left">
            <h4>What other people say about us</h4>
            <hr>
            <div class="container d-flex justify-content-center align-items-center m-2 p-2 " data-aos="fade-right"
                style="height: 70%; width: 100%;">
                <!-- ===================== courasel  ============================-->
                <div class="col-md-offset-2 col-md-8  d-flex justify-content-center align-items-center">
                    <div id="quote-carousel" class="carousel slide" data-bs-ride="true">
                        <!-- Bottom Carousel Indicators
                        <ol class="carousel-indicators">
                            <li data-bs-target="#quote-carousel" data-bs-slide-to="0" class="active"></li>
                            <li data-bs-target="#quote-carousel" data-bs-slide-to="1"></li>
                            <li data-bs-target="#quote-carousel" data-bs-slide-to="2"></li>
                        </ol> -->

                        <!-- Carousel Slides / Quotes -->
                        <div class="carousel-inner">
                            <!-- Quote 1 -->
                            <div class="carousel-item active">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-3 text-center">
                                            <img class="img-circle" src="http://www.reactiongifs.com/r/overbite.gif"
                                                style="width: 100px;height:100px;">
                                        </div>
                                        <div class="col-sm-9">
                                            <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet,
                                                consectetur, adipisci velit!</p>
                                            <small>Someone famous</small>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- Quote 2 -->
                            <div class="carousel-item">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-3 text-center">
                                            <img class="img-circle" src="http://www.reactiongifs.com/r/overbite.gif"
                                                style="width: 100px;height:100px;">
                                        </div>
                                        <div class="col-sm-9">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor nec
                                                lacus ut tempor. Mauris.</p>
                                            <small>Someone famous</small>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- Quote 3 -->
                            <div class="carousel-item">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-3 text-center">
                                            <img class="img-circle" src="http://www.reactiongifs.com/r/overbite.gif"
                                                style="width: 100px;height:100px;">
                                        </div>
                                        <div class="col-sm-9">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit
                                                in arcu blandit, eget pretium nisl accumsan. Sed ultricies commodo
                                                tortor, eu pretium mauris.</p>
                                            <small>Someone famous</small>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                        </div>

                        <!-- Carousel Buttons Next/Prev -->
                        <button class="carousel-control-prev" type="button" style="color: #034538; padding-right: 20px;"
                            data-bs-target="#quote-carousel" data-bs-slide="prev">
                            <i class="fa fa-chevron-left"></i>
                        </button>
                        <button class="carousel-control-next " style="color: #034538;" type="button"
                            data-bs-target="#quote-carousel" data-bs-slide="next">
                            <i class="fa fa-chevron-right "></i>
                        </button>
                    </div>
                </div>
            </div>
            <div>
                <a href="{% url 'afms_app:add review' %}" type="button" class="btn" style="color: #0b0b0b; background-color: #0ccc7c ; border-radius: 20px; padding: 5px 5px; box-shadow: #222;">Add Review</a>
            </div>


        </div>

        <div class="container bg-light shadow-sm rounded p-3" style="height: 70vh;" data-aos="fade-left">
            <h4>What other people say about us</h4>
            <hr>
            <div class="container d-flex justify-content-center align-items-center m-2 p-2" style="height: 70%; width: 100%;">
                <div class="col-md-offset-2 col-md-8 d-flex justify-content-center align-items-center">
                    <div id="quote-carousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner" id="review-carousel-inner">
                            <!-- JavaScript will inject reviews here -->
                        </div>
        
                        <!-- Carousel Controls -->
                        <button class="carousel-control-prev" type="button" data-bs-target="#quote-carousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#quote-carousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
        
            <div class="text-center mt-3">
                <a href="{% url 'afms_app:add review' %}" class="btn" style="color: #0b0b0b; background-color: #0ccc7c ; border-radius: 20px; padding: 5px 15px; box-shadow: #222;">Add Review</a>
            </div>
        </div>
        

        <div class="container row  justify-content align-items-center" style="height: 60vh; ;">
            <div class="col-4">
                <div class="" style="border: none; background-color: transparent;">
                    <img src="{% static 'index/icon1.png' %}" alt=""
                        style="height: 50px; width: 70px; background-color: aqua; border-radius: 50%;">
                </div>
                <div>
                    
                    <h1> Crop Management</h1>
                    <p>Our farm management software helps simplify your crop planning, yield & income projections and
                    easily visualize your season. Collaborate with your team to track and report on farm work, inputs,
                    activities and harvests and simplify ROI and compliance reporting.-</p>
                </div>
            </div>
            <div class="col-4">
                <div class="" style="border: none; background-color: transparent;">
                    <img src="{% static 'index/icon2.png' %}" alt=""
                        style="height: 50px; width: 70px; background-color: aqua; border-radius: 50%;">
                </div>
                <div>
                    
                    <h1> Livestock Management</h1>
                    <p>Our farm management software helps simplify your crop planning, yield & income projections and
                    easily visualize your season. Collaborate with your team to track and report on farm work, inputs,
                    activities and harvests and simplify ROI and compliance reporting.-</p>
                </div>
            </div>
            <div class="col-4">
                <div class="" style="border: none; background-color: transparent;">
                    <img src="{% static 'index/icon3.png' %}" alt=""
                        style="height: 50px; width: 70px; background-color: aqua; border-radius: 50%;">
                </div>
                <div>
                    
                    <h1>Poultry Farm Management</h1>
                    <p>Our farm management software helps simplify your crop planning, yield & income projections and
                    easily visualize your season. Collaborate with your team to track and report on farm work, inputs,
                    activities and harvests and simplify ROI and compliance reporting.-</p>
                </div>
            </div>
        </div>

        
        <div class="container-fluid mb-3 p-3"
            style="border-bottom:  1px solid green; font-style: italic; font-size: smaller;">
            <h3>Easiest farm software for tracking multiple farming functions backed by incredible customer
                service"</h3>

            <div class="d-flex justify-content-center align-items-center">
                <div class="ratings">
                    <i class="fa fa-star rating-color"></i>
                    <i class="fa fa-star rating-color"></i>
                    <i class="fa fa-star rating-color"></i>
                    <i class="fa fa-star rating-color"></i>
                    <i class="fa fa-star"></i>
                </div>
                <h5 class="review-count">12 Reviews</h5>
            </div>
        </div>
        <div class="container p-3 justify-content-center align-items-center shadow-sm rounded row"  data-aos="fade-right">
            <div class="container">
                <h3>Join more than 4,000 farmers and ranchers worldwide that are simplifying their farm management with one easy to use farm management software.
                    Get started today.</h3>
            </div>
            {% if user.is_authenticated %}

            {% else %}
            <div>
                <a href="{% url 'userauth:Signup View' %}" class="btn btn-outline-success btn-lg">Signup</a>
                <a href="{% url 'userauth:Login View' %}" class="btn btn-outline-secondary btn-lg">Login</a>
            </div>
            {% endif %}
            
        </div>
        

    </div>


    <div class="container-fluid" style="background-color: #2980b9; height: 50vh;">
        <div class="container row p-3 justify-content-center align-items-center">
            <div class="col-3">
                <h6 class="text-center">PRODUCTS</h6>
                <hr />
                <div class="">
                    <ul style="padding: 0 !important; margin: 0;">
                        <li><a href="">Help & Support </a></li>
                        <li><a href="">Gettinfg started guide</a></li>
                        <li><a href=""> Blog and Resources </a></li>
                        <li><a href="">Terms of use </a></li>
                        <li><a href="">Watch onlline demo</a></li>
                        <li><a href="">Cookie Policy</a></li>
                        <li><a href="">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-3">
                <h6 class="text-center">RESOURCES</h6>
                <hr />
                <div class="">
                    <ul style="padding: 0 !important; margin: 0;">
                        <li><a href="">Help & Support </a></li>
                        <li><a href="">Gettinfg started guide</a></li>
                        <li><a href=""> Blog and Resources </a></li>
                        <li><a href="">Terms of use </a></li>
                        <li><a href="">Watch onlline demo</a></li>
                        <li><a href="">Cookie Policy</a></li>
                        <li><a href="">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-3">
                <h6 class="text-center">FARM SOLUTIONS</h6>
                <hr />
                <div class="">
                    <ul style="padding: 0 !important; margin: 0;">
                        <li><a href="">Help & Support </a></li>
                        <li><a href="">Gettinfg started guide</a></li>
                        <li><a href=""> Blog and Resources </a></li>
                        <li><a href="">Terms of use </a></li>
                        <li><a href="">Watch onlline demo</a></li>
                        <li><a href="">Cookie Policy</a></li>
                        <li><a href="">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-3">
                <h6 class="text-center">COMPANY</h6>
                <hr />
                <div class="px-3">
                    <ul style="padding: 0 !important; margin: 0;">
                        <li><a href="">Help & Support </a></li>
                        <li><a href="">Gettinfg started guide</a></li>
                        <li><a href=""> Blog and Resources </a></li>
                        <li><a href="">Terms of use </a></li>
                    </ul>
                </div>
                <div class="container">
                    <ul>
                        <li><a href="">fb</a></li>
                        <li><a href="">x</a></li>
                        <li><a href="">tiktok</a></li>
                        <li><a href="">insta</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <div class="carousel-inner" id="review-carousel-inner">
        <!-- JavaScript will insert reviews here -->
    </div>
    


    <script>
        const getReviews = () => {
            fetch('/get_reviews/')
                .then(res => res.json())
                .then(data => {
                    const carouselInner = document.getElementById('review-carousel-inner');
                    carouselInner.innerHTML = ''; // Clear old reviews
    
                    if (!data.data || data.data.length === 0) {
                        carouselInner.innerHTML = `
                            <div class="carousel-item active">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-12 text-center">
                                            <p>No reviews available at the moment.</p>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                        `;
                        return;
                    }
    
                    data.data.forEach((review, index) => {
                        const activeClass = index === 0 ? 'active' : '';
                        const reviewItem = `
                            <div class="carousel-item ${activeClass}">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-3 text-center">
                                            <img class="img-circle" src="https://via.placeholder.com/100" alt="Avatar" style="width: 100px; height: 100px;">
                                        </div>
                                        <div class="col-sm-9">
                                            <p>${review.messo}</p>
                                            <small>${review.name}</small>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                        `;
                        carouselInner.innerHTML += reviewItem;
                    });
                })
                .catch(err => {
                    console.error('Error fetching reviews:', err);
                });
        }
    
        window.onload = getReviews;
    </script>
    
    
    


{% endblock %}